<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>    {% block title %}    {% endblock %}</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- css propio principal-->
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <!-- css propio por template-->
    {% block customCSS %}  {% endblock %}
    

</head>
<body>
    <header class="header">
        <div class="header_div">
            <div>
                <img src="../static/img/logoJAM-eduProyect.png" width="100px"/>
                <a href="/courses">Cursos</a>
            </div>
            <div>
                <a href="/profile" class="icon_user"><img src="../static/icons/lucide_user-circle.svg" width="40px"/></a>
                {% if current_user.id != null %}
                    <a class="btn" href="{{url_for('logout')}}"> Cerrar sesion </a>
                {% endif %}
            </div>
        </div>
    </header>
    <span class="goldenDivider"></span>
    
    <div  class="baseBody">
        {% block body %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <span class="goldenDivider"></span>

    <footer class="footer">
        <div class="logo">
            <a>
                <img src="../static/img/logoJAM-eduProyect.png">
            </a>
        </div>
        <div class="info">
            <p class="title">Telefono</p>
            <span class="infoItem">
                <img src="../static/icons/phone.png">
                <p>+54 264 464 7572</p>
            </span>
        </div>
        
        <div class="info">
            <p class="title">Email</p>
            <span class="infoItem">
                <img src="../static/icons/email.png">
                <p>Contacto: ejemplo@gmail.com</p>
            </span>
        </div>
        
        <div class="info">
            <p class="title">Visitanos</p>
            <span class="infoItem">
                <img src="../static/icons/gps-dot.png">
                <p>+54 264 464 7572</p>
            </span>
        </div>

    </footer>
</body>
</html>