{% extends './base.html' %}

{% block title %}Register{% endblock %}

<!-- css propio -->
{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/courseAddForm.css')}}">
{% endblock %}

{% block body %}

<div class="main_card">
    <div class="crear_curso_div">
        <a href="/dashboard"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30px" height="50px"><path d="M32 15H3.41l8.29-8.29-1.41-1.42-10 10a1 1 0 0 0 0 1.41l10 10 1.41-1.41L3.41 17H32z" style="fill:#FFBF5F" data-name="4-Arrow Left"/></svg></a>
        {% if mode == "edit" %}
            <h4>Editar curso</h4>
        {% else %}
            <h4>Crear curso</h4>
        {% endif %}
    </div>
    {% if mode == "edit" %}
        <form class="form-signin form_div" action="/edit-course/{{course.id}}" method="POST">
    {% else %}
        <form class="form-signin form_div" action="/add-course" method="POST">
    {% endif %}
        <div class="form_fields">
            <input type="image" width="120" height="120">
        {% with messages = get_flashed_messages() %}

        {% if messages  %}
          <br/>
          {% for message in messages %}
          <div class="alert alert-warning alert-dismissible" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        {% endif  %}

        {% endwith %}
        <div class="form">
            <input type="hidden" name="csrf_token" value="{{csrf_token}}"> <!--  para que formulario de login tenga codigo token para csrf-->
            <div class="form-floating mt-2">
              {% if mode == "edit" %}
                <input type="text" class="form-control" name="course_name" id="course_name" value="{{course.name}}" placeholder="Angular avanzado" required>
                {% else %}
                <input type="text" class="form-control" name="course_name" id="course_name" placeholder="Angular avanzado" required>
                {% endif %}
              <label for="course_name">Nombre del curso</label>
                <p>* Campo obligatorio</p>
            </div>

            <div class="form-floating mt-2">
                {% if mode == "edit" %}
                    <input type="text" class="form-control" name="course_duration" value="{{course.duration}}" id="course_duration" placeholder="30 SEMANAS" required>
                {% else %}
                    <input type="text" class="form-control" name="course_duration" id="course_duration" placeholder="30 SEMANAS" required>
                {% endif %}
                <label for="course_duration">Duracion</label>
                <p>* Campo obligatorio</p>
            </div>

            <div class="mt-2">
                <label for="course_description">Descripcion </label>
                {% if mode == "edit" %}
                    <textarea name="course_description" id="course_description">{{course.description}}</textarea>
                {% else %}
                    <textarea name="course_description" id="course_description"></textarea>
                {% endif %}
                <p>* Campo obligatorio</p>
            </div>

            {% if current_user.role == "admin" %}
            <div class="mt-2">
                <label for="course_teacher">Profesor a cargo: </label>
                {% if mode == "edit" %}
                    <select name="course_teacher" onselect="{{course.id_teacher.id}}" id="course_teacher">
                        {% for teacher in teachers %}
                            <option value="{{ teacher[0] }}">{{ teacher[1] }} {{ teacher[2] }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <select name="course_teacher" id="course_teacher">
                        <option value="">-- Seleccione el profesor de este curso --</option>
                        {% for teacher in teachers %}
                            <option value="{{ teacher[0] }}">{{ teacher[1] }} {{ teacher[2] }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                <p>* Campo obligatorio</p>
            </div>
            {% endif %}
        </div>
        </div>
        <button class="w-100 form_button" type="submit">
        {% if mode == "edit" %}
        Editar curso
        {% else %}
        Crear curso
        {% endif %}
        </button>

        {% if mode == "edit" %}
        <div class="container studentsList containerTableList">    
            <h4>Inscriptos</b></h4>
            {% if inscriptedStudents %}
            <table class="table tableList">
                <thead>
                    <tr>
                        <th scope="col">ID</th> 
                        <th scope="col">Dni</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Email</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in inscriptedStudents %}
                        <tr>
                            <td>{{ student[0] }}</td>
                            <td>{{ student[4] }}</td>
                            <td>{{ student[1] }}</td>
                            <td>{{ student[2] }}</td>
                            <td>{{ student[3] }}</td>
                            <td>{{ student[5] }}</td>
                            {% if current_user.role == "teacher" %}
                                <td class="px-1 py-2">
                                    <a class="btn btn-success" href="/attendance/{{course.id}}/{{student[0]}}">
                                        Dar presente</a>
                                </td>
                                {% if student[7] == 1 %}
                                <td style="width: min-content" colspan="2" class="px-1 py-2">
                                    <a class="btn btn-warning" href="/block-user/{{student[0]}}">Desbloquear</a>
                                </td>
                                {% else %}
                                <td style="width: min-content" colspan="2">
                                    <a class="btn btn-danger" href="/block-user/{{student[0]}}">Bloquear</a>
                                </td>                            
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No hay estudiantes inscriptos aún..</p>
            {% endif %}
        </div>
            <!---- INSCRIPTOS BLOQUEADOS  --->
         <div class="container studentsList containerTableList">
            <h4>Inscriptos bloqueados</b></h4>
            {% if inscriptedStudentsBlocked %}
            <table class="table tableList">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Dni</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Email</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in inscriptedStudentsBlocked %}
                        <tr>
                            <td>{{ student[0] }}</td>
                            <td>{{ student[4] }}</td>
                            <td>{{ student[1] }}</td>
                            <td>{{ student[2] }}</td>
                            <td>{{ student[3] }}</td>
                            <td>{{ student[5] }}</td>
                            {% if current_user.role == "admin" or current_user.role == "teacher" %}
                                <td style="width: min-content" colspan="2">
                                    <a class="btn btn-warning" href="/block-user/{{student[0]}}">Desbloquear</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No hay estudiantes bloqueados..</p>
            {% endif %}
        </div>
        {% endif %}
      </form>
    </div>
</div>
{% endblock %}
