{% extends './base.html' %}

{% block title %}Register{% endblock %}

<!-- css propio -->
{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/login.css')}}">
{% endblock %}

{% block body %}
<div class="singupContainer text-center">
  <div class="signupForm ">
    <form  class="form-signin" action="/register" method="POST"> 
      <img class="mb-4" src="../static/icons/lucide_user-circle.svg" alt="" width="300" height="">
      {% with messages = get_flashed_messages() %}
      {% if messages  %}
        <br/>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      {% endif  %}
      {% endwith %} 

      <div class="inputsContainer">           
        <input type="hidden" name="csrf_token" value="{{csrf_token}}"/> <!--  para que formulario de login tenga codigo token para csrf-->
  
        <div class="formInputSingup">
          <input type="text" class="form-control" name="name" placeholder="Ingresa tu nombre ">
          <p class="fieldDetails ">*Campo obligatorio </p>
        </div>
        <div class="formInputSingup">
          <input type="text" class="form-control" name="last_name" placeholder="Ingresa tu apellido">
          <p class="fieldDetails ">*Campo obligatorio </p>
        </div>
        <div class="formInputSingup">
          <input type="text" class="form-control" name="phone" placeholder="Ingresa el número de tu celular ">
          <p class="fieldDetails optionalFIeld">*Campo opcional </p>
        </div>
        <div class="formInputSingup">
          <input type="text" class="form-control" name="dni" placeholder="Ingresa tu DNI">
          <p class="fieldDetails ">*Campo obligatorio </p>
        </div>
        <div class="formInputSingup">
          <input type="email" class="form-control" name="email" placeholder="Ingresa tu correo electrónico ">
          <p class="fieldDetails ">*Campo obligatorio </p>
        </div>
        <div class="formInputSingup">          
          <input type="gender" class="form-control" name="gender" >
          <p class="fieldDetails optionalFIeld">*Campo opcional </p>
        </div>
        <div class="formInputSingup">
          <input type="password" class="form-control" name="password" placeholder="Ingresa tu contraseña">
          <p class="fieldDetails ">*Campo obligatorio </p>
        </div>
        <div class="formInputSingup">
          <input type="password" class="form-control" name="password-confirm" placeholder="Confirma tu contraseña">
          <p class="fieldDetails ">*Campo obligatorio </p>
        </div>
      </div>

      <a class="btn btn-signup" href="{{url_for('register')}}"> CREA TU CUENTA </a>

      {% with messages = get_flashed_messages() %}
      {% if messages  %}
        {% for message in messages %}
          <div class="mt-4">
            <div class="alert alert-danger alert-dismissible" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          </div>
        {% endfor %}
      {% endif  %}
    {% endwith %}
    </form>
  </div>
  <div class="loginCover">
    <div class="welcome">      
      <p class="title">Bienvenido@s</p>
      <img src="../static/img/logoJAM-welcome.png">
    </div>
    <div class="newAccount">
      <p>Si no tiene una cuenta aquí puedes regístrate </p>      
      <div class="mt-2">      
        <a class="btn btn-signup" href="{{url_for('login')}}"> INGRESAR </a>
      </div>
    </div>    
  </div>  
</div>
{% endblock %}
