:root{
    --main-orange : #FFBF5F;

    --main-background-dark : #080C1E;
  }

body {
    background-color: var(--main-background-dark);
}


.header{
    background-color:var(--main-background-dark);
    height: 80px;
    width: 100%;
}

.header_div {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 20px 80px;
	justify-content: space-between;
	& a {
        display: flex;
    
		font-size: 25px;
		margin: 0px 30px;
		text-decoration: none;
		color: var(--main-orange);
		align-items: center;
        & p {
            margin: 0;
        }
	};
	& div {
		display: flex;
		flex-direction: row;
	}
}

.header_div div {
    display: flex;
    flex-direction: row;
}
.icon_user img {
		width: 60px;
}

.header_div:last-child a {
	margin: 0px 10px;
}

.header_div:last-child :last-child{
	border-color: var(--main-orange);
	border-radius: 15px;
	padding: 2px 8px;
	font-size: 20px;
}
.header_div .logoNavBar{
    border-radius: 0 !important;
    width: 100px;
}

.goldenDivider{
    background-color: var(--main-orange);
    height: 8px;
    width: 100%;
    display: block;
}
.baseBody{
    background-color: var(--main-background-dark); 
    color: var(--main-orange);
}

.footer{
    background-color: var(--main-background-dark);
    height: 177px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 15%;
}

.footer .logo img{
    height: 100px;
    width: 200px;
}

.footer .info{
    font-weight: 400;
    line-height: 30px;
    color: #FAFAFA;
}
.footer .info .title{
    size: 18px;    
}
.footer .info .infoItem{
    display: flex;
    justify-content: flex-start;
    
}
.footer .info .infoItem img{
    height: 15px;
    margin-right: 10px;
}

.footer .info .infoItem p{
    size: 14px;
    
}


/* CLASES COMUNES LISTAS - TABLAS   */

.containerTableList{
    border: 1px solid var(--main-orange);
    border-radius: 40px;
    padding: 40px;
    margin-top: 60px;
    margin-bottom:30px;
}

.tableList{
    background-color: #080c1e;    
    border-collapse: separate;
    border-spacing: 0px 10px;
}

.tableList thead{
    background-color: var(--main-orange);
}
.tableList tr{
    
}
.tableList th{    
   padding-left: 20px;
   padding-right: 20px;
}
.tableList th:first-child {
    border-top-left-radius: 8px ;
    border-bottom-left-radius: 8px ;
}

.tableList th:last-child {
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px ;
}

.tableList tbody{
    color: var(--main-orange);
}
.tableList tr{
    /*  ESTAS PROPS DE SWADOW IMITAN VISUALMENTE AL BORDE
     YA QUE NO PUEDO CAMBIARLO EN LAS PROPS DE LA TABLA  */
   box-shadow: 0 0 0 1px var(--main-orange);
   border-radius: 8px;   
}
.tableList thead>tr{
    box-shadow: none !important;
}

.tableList td{
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

/* ALERTS COMUNES  */

.alert-success{    
    background-color: #b5d7c8;
    color: green;
    width: 40%;
    margin-left: auto;
}
.alert-error{
    background-color: #d7b5b5;
    color: red;
    width: 40%;
    margin-left: auto;   
}
.alert-bloquedUser{
    background-color: #d7b5b5;
    color: rgb(255, 0, 0);
    border: 4px solid rgb(255, 0, 0);
    border-radius: 30px;
    width: 90%;
    height: 30%;
    text-align: center;
    margin-left: 5%;   
}
.loginForm .alert-success , .signupForm .alert-success{    
    margin: auto;
}
.loginForm .alert-error , .signupForm .alert-error{
    margin: auto;   
}